<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Blog</title>
<link href="/stylesheets/style.css" rel="stylesheet">
<script type="text/javascript" src="/kindeditor/kindeditor-all-min.js"></script>
<script type="text/javascript" src="/kindeditor/lang/zh_CN.js"></script>
<script type="text/javascript">
	var editor;
	KindEditor.ready(function(K){
		editor = K.create('textarea[name=post]',{
			allowImageUpload : false,
			item : [
				'fontname','fontsize','|',
				'forecolor','hilitecolor','bold','italic','underline','removeformat','|',
				'justifyleft','justifycenter','justifyright','insertorderlist','insertunorderlist','|',
				'emoticons','image','link'
			]
		});
	});
</script>
</head>
<body>
	<header>
		<h1><%=title %></h1>
	</header>
	<nav>
		<span><a title="主页" href="/">主页</a></span>
		<span><a title="归档" href="/archive">归档</a></span>
		<span><a title="标签" href="/tags">标签</a></span>
		<span><a title="友情链接" href="/links">友情链接</a></span>
		<% if(user) { %>
		<span><a title="上传" href="/upload">上传</a></span>
		<span><a title="发表" href="/post">发表</a></span>
		<span><a title="登出" href="/logout">注销
			<% if(user){ %>
				<% if(user.name.length > 4){ %>
					(<%=user.name.substr(0,4) %>)
				<% }else{ %>
					(<%=user.name %>)
				<% } %>
			<% } %>
		</a></span>
		<% } else { %>
		<span><a title="登录" href="/login">登录</a></span>
		<span><a title="注册" href="/reg">注册</a></span>
		<% } %>
		<span><a title="测试" href="/test">test</a></span>
		<span>
			<form action="/search" method="get">
				<input name="keyword" placeholder="search" class="search">
			</form>
		</span>
	</nav>
</body>
</html>