*{
	padding: 0;
	margin: 0;	
}
body {
	width: 800px;
	margin: 2em auto;
	padding: 0 2em;
	font-size: 14px;
	font-family: "Mocrosoft YaHei";
/* 	border: 1px solid red; */
}
p{
	line-height: 24px;
	margin: 1em 0;
}
header{
	padding: 0.5em 0;
	border-bottom: 1px solid #cccccc;
}
nav{
	position: fixed;
	left: 4em;
	font-family: "Mocrosoft YaHei";
	font-size: 1.1em;
	text-transform: uppercase;
	width: 9em;
	text-align: right;
}
nav a {
	display: block;
	text-decoration: none;
	padding: 0.7em;
	color: #000000;
}
nav a:HOVER {
	background-color: #ff0000;
	color: #f9f9f9;
	-webkit-transition:color .2s linear;
}
article{
	font-size: 16px;
	padding-top: 0.5em;
}
article a {
	color: #dd0000;
	text-decoration: none;
}
article a:HOVER {
	color: #333333;
	text-decoration: underline;
}
.info{
	font-size: 14px;
	margin-bottom: 10px;
}
.edit{
	margin: 3px;
	padding: 2px 5px;
	border-raduis:3px;
	background-color: #f3f3f3;
	color: #333;
	font-size: 13px;
}
.edit:HOVER {
	text-decoration: none;
	background-color: #f00;
	color: #fff;
	-webkit-transition:color .2s linear;
}
.prepage a{
	float: left;
	text-decoration: none;
	padding: 0.5em 1em;
	color: #ff0000;
	font-weight: bold;
}
.nextpage a{
	float: right;
	text-decoration: none;
	padding: 0.5em 1em;
	color: #ff0000;
	font-weight: bold;
}
.prepage a:HOVER,.nextpage a:HOVER{
	text-decoration: none;
	background-color: #ff0000;
	color: #f9f9f9;
	-webkit-transition:color 0.2s liner;
}
.archive{
	list-style: none;
	line-height: 28px;
}
.archive h3{
	margin: 0.5em 0;
}
.archive time{
	float: left;
	font-size: 14px;
	color: #999999;
	margin-right: 1.2em;
}
.tag{
	background-color: #ff0000;
	border-radius:3px;
	font-size: 14px;
	color: #ffffff;
	display: inline-block;
	padding: 0 5px;
	margin-bottom: 8px;	
}
.tag:HOVER {
	text-decoration: none;
	background-color: #ffffff;
	color: #000000;
	-webkit-transition:color 0.2s linear;
}
.article_thread{
	width: 100%;
	height:260px;
	border: 14px solid #f5f5f5;
	margin-bottom: 8px;
	margin-top: 2px;
	overflow:hidden;
	padding: 15px;
}
.article_all{
	width: 100%;
/* 	height:260px; */
	border: 14px solid #f5f5f5;
	margin-bottom: 8px;
	margin-top: 2px;
	overflow-x:auto;
	padding: 10px;
}
.post img{
	max-width: 30%;
	max-height: 30%x;
}
