*{
	padding: 0;
	margin: 0;	
}
body {
	width: 600px;
	margin: 2em auto;
	padding: 0 2em;
	font-size: 14px;
	font-family: "Mocrosoft YaHei";
/* 	border: 1px solid red; */
}
p{
	line-height: 24px;
	margin: 1em 0;
}
header{
	padding: 0.5em 0;
	border-bottom: 1px solid #cccccc;
}
nav{
	position: fixed;
	left: 12em;
	font-family: "Mocrosoft YaHei";
	font-size: 1.1em;
	text-transform: uppercase;
	width: 9em;
	text-align: right;
}
nav a {
	display: block;
	text-decoration: none;
	padding: 0.7em;
	color: #000000;
}
nav a:HOVER {
	background-color: #ff0000;
	color: #f9f9f9;
	-webkit-transition:color .2s linear;
}
article{
	font-size: 16px;
	padding-top: 0.5em;
}
article a {
	color: #dd0000;
	text-decoration: none;
}
article a:HOVER {
	color: #333333;
	text-decoration: underline;
}
.info{
	font-size: 14px;
}

